<div id="wrapper" class="container">
<section  class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="assets/themes/images/carousel/banner-1.jpg" alt="" />
				<div class="intro" style="margin-top: 10px;">
					<h1>HEAD OF THE CLASS</h1>
					<p><span>Give your child the tools to succeed!</span></p>
				</div>
			</li>
			<li>
				<img src="assets/themes/images/carousel/banner-2.jpg" alt="" />
				<div class="intro">
					<h1>Let begin learning English now</h1>
					<p><span>DOn't be late anymore</span></p>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="header_text">
	We create this website for English Learners.
	<br/>By our methods which learning English by images. We hope you all can easy to remember new words.
</section>
<section class="main-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Topic <strong>People and relationship</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/baby.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Topic <strong>Family</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-2" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style = "width: 185px; height: 150px;" src="assets/themes/images/people/ong.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Grandfather </a><br/>
											<a href="products.html" class="category">/ˈgrændˌfɑːðəʳ /</a>
											<p class="price">Ông </p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style = "width: 185px; height: 150px;" src="assets/themes/images/people/ong.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Grandfather </a><br/>
											<a href="products.html" class="category">/ˈgrændˌfɑːðəʳ /</a>
											<p class="price">Ông </p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style = "width: 185px; height: 150px;" src="assets/themes/images/people/ong.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Grandfather </a><br/>
											<a href="products.html" class="category">/ˈgrændˌfɑːðəʳ /</a>
											<p class="price">Ông </p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style = "width: 185px; height: 150px;" src="assets/themes/images/people/ong.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Grandfather </a><br/>
											<a href="products.html" class="category">/ˈgrændˌfɑːðəʳ /</a>
											<p class="price">Ông </p>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style = "width: 185px; height: 150px;" src="assets/themes/images/people/ong.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Grandfather </a><br/>
											<a href="products.html" class="category">/ˈgrændˌfɑːðəʳ /</a>
											<p class="price">Ông </p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style = "width: 185px; height: 150px;" src="assets/themes/images/people/ong.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Grandfather </a><br/>
											<a href="products.html" class="category">/ˈgrændˌfɑːðəʳ /</a>
											<p class="price">Ông </p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style = "width: 185px; height: 150px;" src="assets/themes/images/people/ong.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Grandfather </a><br/>
											<a href="products.html" class="category">/ˈgrændˌfɑːðəʳ /</a>
											<p class="price">Ông </p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style = "width: 185px; height: 150px;" src="assets/themes/images/people/ong.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Grandfather </a><br/>
											<a href="products.html" class="category">/ˈgrændˌfɑːðəʳ /</a>
											<p class="price">Ông </p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row feature_box">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">OUR <strong>VALUE</strong></span></span></span>

				</h4>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="service">
						<div class="responsive">
							<img src="assets/themes/images/feature_img_2.png" alt="" />
							<h4><strong>MODERN
							METHODS</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="service">
						<div class="customize">
							<img src="assets/themes/images/feature_img_1.png" alt="" />
							<h4><strong>QUICKLY EFFECT</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="service">
						<div class="support">
							<img src="assets/themes/images/feature_img_3.png" alt="" />
							<h4><strong>EASY TO LEARN</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Topic <strong>Environment</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/baby.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
									<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
											<a href="product_detail.html" class="title">Woman</a><br/>
											<a href="products.html" class="category">/ˈwʊm.ən/</a>
											<p class="price"> phụ nữ</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="our_client">
	<h4 class="title">
		<span class="pull-left"><span class="text"><span class="line">OUR <strong>PARTNER</strong></span></span></span>
	</h4>
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<a href="#"><img alt="" src="assets/themes/images/clients/14.png"></a>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<a href="#"><img alt="" src="assets/themes/images/clients/35.png"></a>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<a href="#"><img alt="" src="assets/themes/images/clients/1.png"></a>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<a href="#"><img alt="" src="assets/themes/images/clients/2.png"></a>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<a href="#"><img alt="" src="assets/themes/images/clients/3.png"></a>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<a href="#"><img alt="" src="assets/themes/images/clients/4.png"></a>
		</div>
	</div>
</section>
<footer></footer>
</div>
