<app-first></app-first>
<navbar></navbar>

<section id="main-content">
<section class="wrapper">

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Meaning</th>
        <th>pronunciation</th>
        <th>image</th>
        <th>sound</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
      </tr>
    </tbody>
  </table>
</div>


</section>
</section>
