<app-first></app-first>
<navbar></navbar>

<section id="main-content">
<section class="wrapper">

<div class="container">
  <h2>Edit vocabulary</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label>id</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small form control" name="text1">
    </div>
    <div class="form-group">
      <label>name</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small form control" name="text1">
    </div>

     <div class="form-group">
      <label>meaning</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small form control" name="text1">
    </div>

     <div class="form-group">
      <label>pronunciation</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small form control" name="text1">
    </div>

     <div class="form-group">
      <label>image</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small form control" name="text1">
    </div>

     <div class="form-group">
      <label>sound</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small form control" name="text1">
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>


</section>
</section>
