<div id="wrapper" class="container">
<section class="header_text sub">
<img style="width: 100%;
    position: relative;" class="pageBanner" src="assets/themes/images/test.png" alt="New products" >

</section>
<section class="main-content">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="block">
				<ul class="nav nav-list">
					<li class="nav-header">TEST TOPIC</li>
					<li><a href="products.html">Human and relationship</a></li>
					<li class="active"><a href="products.html">Animals</a></li>
					<li><a href="products.html">Plants</a></li>
					<li><a href="products.html">Families</a></li>
					<li><a href="products.html">Company</a></li>
					<li><a href="products.html">Information Technology</a></li>
				</ul>
			</div>
			<div class="block">
				<ul class="nav nav-list">
					<li class="nav-header text-center">Advertising</li>
				<div class="">
					<img style="height: 500px" src="assets/themes/images/quangcao.png" alt="" />
				</div>
				</ul>
			</div>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<section class="header_text sub">
				<h4><span>People and Relationship</span></h4>
				<button style="margin-top: 10px" type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Help Box</button>
				  <!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">

				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Help Box</h4>
				        </div>
				        <div class="modal-body">
				          <p> We create this part to ensure that people who have learned this website had done remember the newwords. </p>

				          <strong>INTRODUCTION</strong>
				          <p>After choose the topic in left side bar You will see the picture relate to topic.</p>
				          <p>
				          	You will also see 3 answer and you responsibility is choose the correct answer
				          </p>
				          <strong>Good luck</strong>

				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>

				    </div>
				  </div>

			</section>

			<ul class="thumbnails listing-products">
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>
						</form>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>
						</form>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>
						</form>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>
						</form>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>
						</form>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>
						</form>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>
						</form>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>
						</form>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<form>
							<div class="body">
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" checked />
							    Radio option
							  </label >
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							  <label class="label">
							    <input type="radio" class="option-input radio" name="example" />
							    Radio option
							  </label>
							</div>

						</form>
					</div>
				</li>
				<button style="margin-top: 10px" type="button" class="btn btn-info btn-md test pull-right" data-toggle="modal" data-target="#myModal">Finish</button>
			</ul>
			<hr>
		</div>

	</div>
</section>
<footer></footer>
</div>
