<div id="wrapper" class="container">
<section class="header_text sub">
<img class="pageBanner" src="assets/themes/images/carousel/banner-1.jpg" alt="New products" >
</section>
<section class="main-content">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="block">
				<ul class="nav nav-list">
					<li class="nav-header">TOPIC</li>
					<li><a href="products.html">Human and relationship</a></li>
					<li class="active"><a href="products.html">Animals</a></li>
					<li><a href="products.html">Plants</a></li>
					<li><a href="products.html">Families</a></li>
					<li><a href="products.html">Company</a></li>
					<li><a href="products.html">Information Technology</a></li>
				</ul>
			</div>
			<div class="block">
				<ul class="nav nav-list">
					<li class="nav-header text-center">Advertising</li>
				<div class="">
					<img style="height: 500px" src="assets/themes/images/quangcao.png" alt="" />
				</div>
				</ul>
			</div>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<section class="header_text sub">
				<h4><span>People and Relationship</span></h4>
			</section>

			<ul class="thumbnails listing-products">
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a href="product_detail.html"><img style="width: 185px;height: 150px" src="assets/themes/images/people/woman.png" alt="" /></a></p>
						<a href="product_detail.html" class="title">Woman</a><br/>
						<a href="products.html" class="category">/ˈwʊm.ən/</a>
						<p class="price"> phụ nữ</p>
					</div>
				</li>
			</ul>
			<hr>
		</div>

	</div>
</section>
<footer></footer>
</div>
